In [36]:
#Baby names analysis

import pandas as pd
import numpy as np
import sklearn
from sklearn.ensemble import RandomForestClassifier as rfc
from sklearn.ensemble import train_test_split, cross_val_score

#url = "https://www.ssa.gov/oact/babynames/names.zip"
col_names = ['ID', 'Name', 'Year', 'Gender', 'Count']
#name_data = np.genfromtxt("yob2015.txt", dtype = None, names = col_names,delimiter = ',')
names = pd.read_csv("yob2015.txt", header = None, names = col_names)

ImportError: cannot import name 'train_test_split'

In [32]:
#names = pd.DataFrame(name_data)

In [33]:
names.head

<bound method NDFrame.head of               ID Name   Year  Gender  Count
0           Emma    F  20355     NaN    NaN
1         Olivia    F  19553     NaN    NaN
2         Sophia    F  17327     NaN    NaN
3            Ava    F  16286     NaN    NaN
4       Isabella    F  15504     NaN    NaN
5            Mia    F  14820     NaN    NaN
6        Abigail    F  12311     NaN    NaN
7          Emily    F  11727     NaN    NaN
8      Charlotte    F  11332     NaN    NaN
9         Harper    F  10241     NaN    NaN
10       Madison    F  10038     NaN    NaN
11        Amelia    F   9795     NaN    NaN
12     Elizabeth    F   9656     NaN    NaN
13         Sofia    F   9650     NaN    NaN
14        Evelyn    F   9313     NaN    NaN
15         Avery    F   9298     NaN    NaN
16         Chloe    F   7884     NaN    NaN
17          Ella    F   7852     NaN    NaN
18         Grace    F   7589     NaN    NaN
19      Victoria    F   7575     NaN    NaN
20        Aubrey    F   7357     NaN    NaN
21      Scarlett    F   7100     NaN    NaN
22          Zoey    F   6900     NaN    NaN
23       Addison    F   6683     NaN    NaN
24          Lily    F   6617     NaN    NaN
25       Lillian    F   6571     NaN    NaN
26       Natalie    F   6466     NaN    NaN
27        Hannah    F   6372     NaN    NaN
28          Aria    F   6371     NaN    NaN
29         Layla    F   6289     NaN    NaN
...          ...  ...    ...     ...    ...
32922      Zavon    M      5     NaN    NaN
32923        Zay    M      5     NaN    NaN
32924     Zaylor    M      5     NaN    NaN
32925    Zayquan    M      5     NaN    NaN
32926   Zecharia    M      5     NaN    NaN
32927   Zecharya    M      5     NaN    NaN
32928        Zee    M      5     NaN    NaN
32929       Zeev    M      5     NaN    NaN
32930       Zeik    M      5     NaN    NaN
32931   Zekariah    M      5     NaN    NaN
32932    Zepplin    M      5     NaN    NaN
32933      Zerek    M      5     NaN    NaN
32934       Zeyd    M      5     NaN    NaN
32935        Zhi    M      5     NaN    NaN
32936       Ziel    M      5     NaN    NaN
32937      Zihan    M      5     NaN    NaN
32938      Zihao    M      5     NaN    NaN
32939     Ziheng    M      5     NaN    NaN
32940     Zimere    M      5     NaN    NaN
32941       Ziyi    M      5     NaN    NaN
32942       Ziyu    M      5     NaN    NaN
32943       Zoel    M      5     NaN    NaN
32944      Zohar    M      5     NaN    NaN
32945     Zolton    M      5     NaN    NaN
32946       Zyah    M      5     NaN    NaN
32947     Zykell    M      5     NaN    NaN
32948     Zyking    M      5     NaN    NaN
32949      Zykir    M      5     NaN    NaN
32950      Zyrus    M      5     NaN    NaN
32951       Zyus    M      5     NaN    NaN

[32952 rows x 5 columns]>

<bound method NDFrame.describe of               ID Name   Year  Gender  Count
0           Emma    F  20355     NaN    NaN
1         Olivia    F  19553     NaN    NaN
2         Sophia    F  17327     NaN    NaN
3            Ava    F  16286     NaN    NaN
4       Isabella    F  15504     NaN    NaN
5            Mia    F  14820     NaN    NaN
6        Abigail    F  12311     NaN    NaN
7          Emily    F  11727     NaN    NaN
8      Charlotte    F  11332     NaN    NaN
9         Harper    F  10241     NaN    NaN
10       Madison    F  10038     NaN    NaN
11        Amelia    F   9795     NaN    NaN
12     Elizabeth    F   9656     NaN    NaN
13         Sofia    F   9650     NaN    NaN
14        Evelyn    F   9313     NaN    NaN
15         Avery    F   9298     NaN    NaN
16         Chloe    F   7884     NaN    NaN
17          Ella    F   7852     NaN    NaN
18         Grace    F   7589     NaN    NaN
19      Victoria    F   7575     NaN    NaN
20        Aubrey    F   7357     NaN    NaN
21      Scarlett    F   7100     NaN    NaN
22          Zoey    F   6900     NaN    NaN
23       Addison    F   6683     NaN    NaN
24          Lily    F   6617     NaN    NaN
25       Lillian    F   6571     NaN    NaN
26       Natalie    F   6466     NaN    NaN
27        Hannah    F   6372     NaN    NaN
28          Aria    F   6371     NaN    NaN
29         Layla    F   6289     NaN    NaN
...          ...  ...    ...     ...    ...
32922      Zavon    M      5     NaN    NaN
32923        Zay    M      5     NaN    NaN
32924     Zaylor    M      5     NaN    NaN
32925    Zayquan    M      5     NaN    NaN
32926   Zecharia    M      5     NaN    NaN
32927   Zecharya    M      5     NaN    NaN
32928        Zee    M      5     NaN    NaN
32929       Zeev    M      5     NaN    NaN
32930       Zeik    M      5     NaN    NaN
32931   Zekariah    M      5     NaN    NaN
32932    Zepplin    M      5     NaN    NaN
32933      Zerek    M      5     NaN    NaN
32934       Zeyd    M      5     NaN    NaN
32935        Zhi    M      5     NaN    NaN
32936       Ziel    M      5     NaN    NaN
32937      Zihan    M      5     NaN    NaN
32938      Zihao    M      5     NaN    NaN
32939     Ziheng    M      5     NaN    NaN
32940     Zimere    M      5     NaN    NaN
32941       Ziyi    M      5     NaN    NaN
32942       Ziyu    M      5     NaN    NaN
32943       Zoel    M      5     NaN    NaN
32944      Zohar    M      5     NaN    NaN
32945     Zolton    M      5     NaN    NaN
32946       Zyah    M      5     NaN    NaN
32947     Zykell    M      5     NaN    NaN
32948     Zyking    M      5     NaN    NaN
32949      Zykir    M      5     NaN    NaN
32950      Zyrus    M      5     NaN    NaN
32951       Zyus    M      5     NaN    NaN

[32952 rows x 5 columns]>

In [35]:
#create features and observations
feature_cols = ['Name', 'Year']
y = names.Gender